@model IEnumerable<VilaItalia.Models.Cliente>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css">
    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/css/dataTables.checkboxes.css" rel="stylesheet" />
@**<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>*@
<h2>Exibição de clientes cadastrados</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-10">
        <table id="PesquisaCliente" class="ui celled table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Cliente</th>
                    <th>Telefone</th>

                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Cliente</th>
                    <th>Telefone</th>
                </tr>
            </tfoot>
        </table>
        <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="submeter" type="submit" value="Pesquisar" class="btn btn-default" />
            </div>
        </div>
        @* <input type="text" name="PesquisaCliente" value="" placeholder="Digite aqui para pesquisar clientes existentes" onkeyup = "maskIt(this,event,'(###)# ####-####')" />*@
    </div>
    }
    
    @section Scripts {
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/js/dataTables.checkboxes.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
        <script type="text/javascript" language="javascript">
            $(document).ready(function () {
                $('#PesquisaCliente').DataTable({
                    "ajax": {
                        "url": "/Clientes/GetList",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columnDefs": [{
                        "data": "null",
                        "defaultContent": " ",
                        "orderable": "true",
                        "className": "select-checkbox",
                        "targets": 0,
                        'checkboxes': {
                            'selectRow': true
                        }
                    }],
                    "select": {
                        "style": "multi",
                        "selector": "td:first-child"
                    },

                    "columns": [
                        { "data": "ClienteId", "name": "ClienteId" },
                        { "data": "Nome", "name": "Nome" },
                        { "data": "Telefone", "name": "Telefone" },
                    ],
                    "serverSide": "true",
                    'order': [[1, 'asc']],
                    "processing": "true",
                    "language": {
                        "processing": "Carregando, por favor aguarde"
                    }
                }); 

                var table = $('#PesquisaCliente').DataTable();

            });
            function toggleMarcarTodos(event) {
                var $tabela = $("#PesquisaCliente");
                var check = $("#ctl00_ContentPlaceHolder1_rptComunicado_ctl00_ckTodos", $tabela).is(':checked');
                var $checks = $('.marcar', $tabela);

                // Se a sua coluna tiver ordenacao, tem que prevenir de ordenar ao clicar no checkbox!
                event && event.stopPropagation();

                $checks.each(function () {
                    $(this).prop("checked", check);
                });
            }
            // Se houver o evento de paginação ou ordenação ou filtro, é preciso marcar todos novamente.
            $('#PesquisaCliente').on('page.dt, order.dt, search.dt', function () {
                setTimeout(toggleMarcarTodos, 1);
            });
        </script>
    }
