@model IEnumerable<VilaItalia.Models.Cliente>

@{
    ViewBag.Title = "PesquisaCliente";
}

<h2>PesquisaCliente</h2>

<label for="pesquisa">Insira aqui o nome do cliente</label>
<input type="text" name="pesquisa" id="pesquisa"/>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script>
        $(function () {
            $("#pesquisa").autocomplete({
                source: "/Clientes/Pesquisar"
            });
        });
    </script>
    }